
/*TITLE: app.css (For Project 7)
 AUTHOR: Thomas J. Byker (TJB)
 CREATE DATE: 04.29.2013
 PURPOSE: CSS code for Project 7. The Final Project. 
 LAST MODIFIED ON: 05.02.2013
 LAST MODIFIED BY: Thomas J. Byker (TJB)
 MODIFICATION HISTORY: GITHub Initial Push to Server 05.02.2013
 No Modifications*/

@import url('font-awesome.css');

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}



.hidden-page {
	margin: 0 10px;
}

.page {
	-moz-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0;
	border: 0 !important;
	padding: 10px;
	background: white;
	margin: 10px;
}


.page img {
	width: 100%;
}

.page p {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.4em;
}

.page blockquote {
	display: block;
	clear: left;
	font-style: italic;
	font-family: Georgia;
	line-height: 18px;
	border-left: 4px solid rgb(225, 225, 225);
	padding-left: 20px;
	margin: 25px;
}
.page p:last-child {
	margin-bottom: 0;
}

.page form input,
.page form textarea {
	display: block;
	padding: 7px 10px;
	font-size: 14px;
	margin-bottom: 10px;
	width: 100%;
	margin: 0 0 10px;
}

.toolbar + .clock { margin-top: -10px; }

#jqt .scroll button,
#jqt .page button {
	display: block;
	width: 99%;
	margin: 1em .5% 0 !important;
}

.toolbar .left { left: 0; right: auto; }

/* -----------------------------------------
	Clearfix
----------------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}